---
import "@/styles/print.css"
import UnstyledLayout from "@/layouts/UnstyledLayout.astro"
import { getCollection } from "astro:content";
import { render } from "astro:content";
const headTitle = "Misunderstood | Merther";
const pageTitle = "Misunderstood";

import { Debug } from "astro:components"

const Misunderstood = await getCollection('misunderstood');
Misunderstood.sort((a, b) => a.data.chapter - b.data.chapter);

---
<UnstyledLayout headTitle={headTitle}>
    <h1><a href="/misunderstood">{pageTitle}</a></h1>
    {
        Misunderstood.map(async (chapter) => {
            const { Content, remarkPluginFrontmatter } = await render(chapter);
            return(<>
                <h2>{chapter.data.title}</h2>
                <Content />
            </>);
        })
    }
</UnstyledLayout>