---
import Layout from "@/layouts/Layout.astro"
import { secondaryLinks } from "@/scripts/data";

import Chapter1 from "@/pages/misunderstood/content/chapters/01_Again.mdx";

 
---
<script>
    document.title = "Misunderstood | Merther"
</script>
<h1><a href="/misunderstood">Misunderstood</a></h1>
<Chapter1 />

<style>
    a {
        color: black;
        text-decoration: none;
    }
    body {
        width: 90ch;
        margin: 0px auto;
    }
</style>