---
import Layout from "@/layouts/Layout.astro"
import { secondaryLinks } from "@/scripts/data";

import { render, getCollection } from "astro:content"

const Misunderstood = await getCollection('misunderstood');

const { Content } = await render(Misunderstood[0])

 
---
<script>
    document.title = "Misunderstood | Merther"
</script>
<h1><a href="/misunderstood">Misunderstood</a></h1>
<p>Hello</p>
<style>
    a {
        color: black;
        text-decoration: none;
    }
    body {
        width: 90ch;
        margin: 0px auto;
    }
</style>