---
import Layout from "@/layouts/Layout.astro"
import Chat from "@/components/chat.html";
import Microblog from "@/components/Microblog.astro"
import { getCollection, getEntry, render } from "astro:content";
import { FallbackContent } from "@/components/react/Components";
import Article from "@/components/Article.astro";

const lsts = await getCollection('resources');
// lsts.sort((a, b) => a.data.order - b.data.order)

const community = await getEntry('resources', 'community');

const webrings = await getEntry("resources", "webrings");

let Community;
let WebRings;

community ? { Content: Community } = await render(community) : Community = FallbackContent;

webrings ? { Content: WebRings } = await render(webrings) : WebRings = FallbackContent;

import WebRing from "@/pages/pages/content/webrings.mdx";

import { NavBar } from "@/components/react/Navigation"

import { otherSecLinks } from "@/scripts/data";

const links = JSON.parse(JSON.stringify(otherSecLinks))
links[0].active = true
---

<Layout>
  <div slot="pageTitle">
    <NavBar title={"Non-Text Things"} links={links}/>
  </div>
  <article class="article chapter">
    <section class="intro">
      <h2 class="text-gradient">Links</h2>
    </section>
    {
      lsts.map(async (l) => {
        if ((l.id !== "community") && (l.id !== "webrings")) {
          const { Content: List} = await render(l);
          return (<>
            <section class={`section ${l.data.classes}`}>
              <List />
            </section>
          </>);
        }
      })
    }
    <section class="webrings section">
      <WebRings />
    </section>
    <section class="community section">
      <Community />
    </section>
    <div class="section hidden">
      <h2>Chat/Guest Book</h2>
      <Chat />
    </div>
  </article>
    <hr class="section" />
  <Article>
    <h2 class="text-gradient">Guestbook!</h2>
    <div class="frame-container">
    <iframe scrolling="no" src="https://bravegrumpy.atabook.org/"></iframe>
    </div>
  </Article>
  <!-- hr class="section">
  <Article>
    <WebRing />
  </Article -->
  <hr class="section" />
  <article class="microblog chapter">
    <section class="blog-intro">
      <h2 class="text-gradient text-center">Microblog</h2>
      <p>I guess this is a twitter/tumblr esque equivalent.  But I like the fact that I control <em>all</em> of it.</p>
    </section>
    <Microblog />
  </article>
</Layout>

<style>
  iframe {
    width: 700px;
    height: 700px;
    border: 0px;
  }
  .frame-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /**
  .article {
    display: grid-lanes;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
    */
  .hidden {
    display: none !important;
  }

  /** This is a workaround because Moz 
  and Chromium have different implementations 
  for the masonry layout. */

  @-moz-document url-prefix() {
    /** This is the exception for FF based browsers */
    .article {
      display: grid;
      grid-template-rows: masonry;
    }
  }

  /** The Chromium is the default right now */
  .article {
    display: grid-lanes;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section.section {
    background-color: #d0801020;
    border-radius: 0px;
    border: 2px solid #2e045e;
  }
  section.intro {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  section.intro h2 {
    grid-column: 2 / -2 ;
    font-size: 4rem;
    height: fit-content;
  }
  div.section {
    width: 90%;;
    max-width: auto;
    /* grid-column: 2 / 5; */
    margin: 0px auto;
    border: 2px solid #2e045e;
    padding: 20px 20px;
    background-color: #d0801020;
  }

  .community {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .webrings {
    /* color: oklch(80.261% 0.04147 214.265); */
  }
  
  .col-one {}
  .col-two {}
  .col-three {}
  .col-one-three {}

  @media (min-width: 100ch) {
    .article {
      grid-template-columns: 2fr 1fr 1fr;
      gap: 20px;
    }
  }
</style>

<style is:global>
  .chapter {
    min-height: fit-content;
  }
</style>