---
import Layout from "@/layouts/Layout.astro"
import Chat from "@/components/chat.html";
import Microblog from "@/components/Microblog.astro"
import { getCollection, getEntry, render } from "astro:content";
import { FallbackContent } from "@/components/react/Components";

const lsts = await getCollection('resources');

const community = await getEntry('resources', 'community');

let Community;

community ? { Content: Community } = await render(community) : Community = FallbackContent;

---

<Layout>
  <div slot="pageTitle">
    <h1 class="text-gradient text-center">Non-Text Things</h1>
    <nav class="menu-container">
      <a class="menu chnav chnav-start" href="/other">Other</a>
      <a class="menu" href="/other/images">Images</a>
    </nav>
  </div>
  <article class="article chapter">
    <section class="intro">
      <h2 class="text-gradient">Links</h2>
    </section>
    {
      lsts.map(async (l) => {
        if (l.id !== "community") {
          const { Content: List} = await render(l);
          return (<>
            <section class="section">
              <List />
            </section>
          </>);
        }
      })
    }
    <section class="community section">
      <Community />
    </section>
    <div class="section">
      <h2>Chat/Guest Book</h2>
      <Chat />
    </div>
  </article>
    <hr class="section" />
  <article class="microblog chapter">
    <section class="blog-intro">
      <h2 class="text-gradient text-center">Microblog</h2>
      <p>I guess this is a twitter/tumblr esque equivalent.  But I like the fact that I control <em>all</em> of it.</p>
    </section>
    <Microblog />
  </article>
</Layout>

<style>
  .article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
    gap: 20px;
  }
  section.section {
    background-color: #d0801020;
    border-radius: 0px;
    border: 2px solid #2e045e;
  }
  section.intro {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  section.intro h2 {
    grid-column: 2 / -2 ;
    font-size: 4rem;
    height: fit-content;
  }
  div.section {
    width: 90%;;
    max-width: auto;
    /* grid-column: 2 / 5; */
    margin: 0px auto;
    border: 2px solid #2e045e;
    padding: 20px 20px;
    background-color: #d0801020;
  }
</style>

<style is:global>
  .chapter {
    min-height: fit-content;
  }
</style>