---
import Layout from "@/layouts/Layout.astro"
import Cursor from "./cursor1.svg";
---

<Layout>
    <p>Hello World</p>
    <Cursor />
    <img src="./cursor1.svg" />
    <p>This is the <a href="https://iconscout.com/icon-pack/mouse-cursors-icon-pack_324869">best I could find for the icon source</a></p>
    <p>I'm pretty sure that hugeicons got updated or smth.</p>
</Layout>