---
import Layout from "@/layouts/Layout.astro"
const headTitle = "Data"

import { NavBar } from "@/components/react/Navigation";
import { otherSecLinks } from "@/scripts/data";
const links = JSON.parse(JSON.stringify(otherSecLinks));
links[3].active = true;

---
<Layout headTitle={headTitle}>
    <div slot="pageTitle">
        <NavBar title="Data" links={links} />
    </div>
    <p>Hello World</p>
</Layout>