---
import { xata } from "@/lib/xata"

const { records } = await xata.db.posts.getPaginated({
    pagination: {
        size: 50
    }
})
---
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
    </head>
    <button onclick="history.back()">Go Back</button>
    <ul>
        {records.map((post) => (
            <li>{post.title}</li>
        ))}
    </ul>
</html>