---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div>
        <nav class="menu-container pages-container">
            <a class="menu page" href="/external/iron">Kinks</a>
            <a class="menu page" href="/external/impersonated.html">Impersonated</a>
        </nav>
    </div>
</Layout>