---
import { Debug } from "astro:components";
import Layout from "@/layouts/Layout.astro"
const headTitle = "Home | Merther";
const pageTitle = "Merther Fanfiction";
const author = null;
import { mainLinks } from "@/scripts/data.js";

import Article from "@/components/Article.astro"

import WorkList from "@/pages/pages/content/introduction.mdx"

import { Content as Explicit, frontmatter as explfm}  from "@/pages/pages/content/explicit.mdx"

import Related from "@/pages/pages/content/related.mdx";
import Community from "@/pages/pages/content/community.mdx";

---

<Layout headTitle={headTitle} pageTitle={pageTitle} author={author} mainLinks={mainLinks}>
    <div>
        <Article articleId="worksList">
                <WorkList />
        </Article>
        <hr class="section">
        <Article>
            <Explicit />
        </Article>
        <hr />
        <div class="links">
            <Article>
                    <Related />
            </Article>
            <Article>
                <Community />
            </Article>
        </div>
    </div>
</Layout>

<style>
    div.chapter {
        width: calc(100% - 20px);
    }
    .chapter hr.section {
        width: calc(100% + 60px);
    }
    .links {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        background-color: #5599cd88;
    }
</style>
<style is:global>
    .links article {
        border-inline: 20px outset #6848390f;
    }
</style>