---
import { Debug } from "astro:components";
import Layout from "@/layouts/Layout.astro"
const headTitle = "Home | Merther";
const pageTitle = "Merther Fanfiction";
const author = null;
import { mainLinks } from "@/scripts/data.js";

import Article from "@/components/Article.astro"

import WorkList from "@/pages/pages/content/introduction.mdx"

import { Content as Explicit, frontmatter as explfm}  from "@/pages/pages/content/explicit.mdx"
---

<Layout headTitle={headTitle} pageTitle={pageTitle} author={author} mainLinks={mainLinks}>
    <Article>
        <h2 style={{ fontSize: "3rem", width: "fit-content", margin: "0px auto"}} class="text-center text-gradient"><a href="/pages/content/mirrors">Site Mirrors</a></h2>
    </Article>
    <Article>
        <WorkList />
    </Article>
    <hr class="section">
    <Article>
        <Explicit />
    </Article>
</Layout>