body {
  background-color: #88ccff;
  color: #223300;
  font-weight: 700;
  font-size: 1.2rem;
}
table {
  width: 90ch;
  margin: 0px auto;
}
td {
  background-color: #88aaee;
}
div.chapters {
  background-color: #88aaee;
  width: 90ch;
  margin: 0px auto;
}
div.chapters h1,
div.chapters h2 {
  text-align: center;
}
div.chapters p {
  text-indent: 20px;
}
div.chapters div.chapter {
  background-color: #88ccff;
}
div.chapters div.chapter h2 {
  background-color: #9acd32;
}
