// @import (css) url(https://fonts.bunny.net/css?family=delius:400|recursive:300,400,500,600,700,800,900|style-script:400);

// @import (css) url('https://fonts.googleapis.com/css2?family=Delius&family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&family=Style+Script&display=swap');

@import (css) url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Allison&family=Amatic+SC:wght@400;700&family=Annie+Use+Your+Telescope&family=Autour+One&family=Bad+Script&family=Beth+Ellen&family=Bilbo&family=Bilbo+Swash+Caps&family=Birthstone&family=Birthstone+Bounce:wght@400;500&family=Bonbon&family=Bonheur+Royale&family=Bubblegum+Sans&family=Butterfly+Kids&family=Caesar+Dressing&family=Cagliostro&family=Calligraffitti&family=Caramel&family=Carattere&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Caveat+Brush&family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Charmonman:wght@400;700&family=Chilanka&family=Comforter&family=Coming+Soon&family=Cookie&family=Covered+By+Your+Grace&family=Crafty+Girls&family=Delius&family=Delius+Swash+Caps&family=Devonshire&family=Dr+Sugiyama&family=Eagle+Lake&family=East+Sea+Dokdo&family=Farsan&family=Fasthand&family=Festive&family=Fondamento:ital@0;1&family=Freehand&family=Gloria+Hallelujah&family=Grape+Nuts&family=Handlee&family=Homemade+Apple&family=Indie+Flower&family=Merienda:wght@300..900&family=Moon+Dance&family=Mr+Bedfort&family=Nothing+You+Could+Do&family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Srisakdi:wght@400;700&family=Style+Script&display=swap');

@import (css) url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
// - Translating original CSS into LESS, and then using VSCode extension to compile to css.
// - This makes the final CSS simpler.
// - Might make it load faster?
// - Less error-prone
// - ONLY the actual rules get compiled into the CSS. All of the root variables do not get copied over.

// Root Variables
// // None of these get copied into CSS.
// // Less calculation in final CSS.
@p-size: 1.0rem;
@size-factor: 1.17;
@h6-size: @p-size * @size-factor;
@h5-size: @h6-size * @size-factor;
@h4-size: @h5-size * @size-factor;
@h3-size: @h4-size * @size-factor;
@h2-size: @h3-size * @size-factor;
@h1-size: @h2-size * pow(@size-factor, 4);
@nav1-size: (@p-size * (1 / (1 * @size-factor) ));
@nav2-size: (@p-size * (1 / (2 * @size-factor) ));
@nav3-size: (@p-size * (1 / (3 * @size-factor) ));
@nav4-size: (@p-size * (1 / (4 * @size-factor) ));
@nav5-size: (@p-size * (1 / (5 * @size-factor) ));
@nav6-size: (@p-size * (1 / (6 * @size-factor) ));

@black-to-pattern-foreground-color-filter: invert(32%) sepia(30%) saturate(1327%) hue-rotate(223deg) brightness(91%) contrast(82%);

// //Image source options
@cdn: "https://cdn.bravegrumpy.com/AO3Styles/images/";
@api: "/api/images/";
@local: "/images/";

@url: '@{api}'; // allowed values: cdn, local, api;

@bg-pattern-background-image: url("@{url}topography/topography_brown.png"); //change to whatever image
@bg-pattern-background-image: url("@{url}textures/TCom_FabricPatterns0065_M.jpg");
@bg-pattern-background-image: url("@{url}textures/TCom_FabricPatterns0118_2_XXL.jpg");
@bg-pattern-background-image: url("@{url}textures/TCom_FabricPatterns0070_S.jpg");
@bg-pattern-background-image: url("@{url}textures/TCom_FabricPatterns0112_XL.jpg");
@bg-pattern-background-image: url("@{url}textures/TCom_FabricPatterns0061_M.jpg");
// @bg-pattern-background-image: url("@{url}textures/TCom_Parquet_XL.png");
// @bg-pattern-background-image: url("@{url}textures/TCom_FabricPatterns0042_M.jpg");

// // Main Background Image size and positioning
@base-padding: 20px;
@default-width: 256px;
@img-mult-wide: 4;
@img-mult-margin: 2;
@base-img-margin: ((@img-mult-margin * @default-width) - 5px);
@base-width-img: (@img-mult-wide * @default-width) - (2 * @base-padding);
@base-width: 80vw;//45vw; //change me;
@base-max-width: 90ch;
@default-margin: auto;
@base-margin: @default-margin;//change me;

// // Color Pallette
@bg-color: bisque;

// @bg-pattern-background-color: #d2c8ff;
@bg-pattern-background-color: #677040; //
// @bg-pattern-background-color: oklch(52.58% 0.0708 118.04);

// @bg-pattern-foreground-color: #65d86;
@bg-pattern-foreground-color: #432700;
// @bg-pattern-foreground-color: oklch(30% 0.0708 72.11);

@default-text-color: #2e045e;
// @default-text-color: #543734;
@main-bg-color: fadein(@chapter-bg-color, 14%, relative); //#a58468;
@header-bg-color: #f5dbb3; // wheat;
@menu-bg-color: #ebd3af; //blanchedalmond;
@menu-fg-color: sienna;
@menu-bg-hover-color:hsla(44, 81%, 25%, 0.11);
@grad-purple: #9900ff;
@grad-green: #006600;
@chapter-bg-color-alpha: (224 / 255);
@chapter-bg-color: rgba(162, 143, 124, @chapter-bg-color-alpha);  //#b1947c;
@chapter-text-color: @default-text-color;
@chapter-preamble-bg-color: rgba(180, 152, 128, 0.212);

@grad-filter: hue-rotate(90deg) sepia(0.8); //ignore IDE, this is ok

// // side border
@sides-border-width: 15px;
@sides-border-style: ridge;
@sides-border-color: #8f5b36; //#7a6a24;//@bg-pattern-foreground-color;

// // hr
@hr-height: @sides-border-width;
// // hr section
@hr-section-height: 2 * @hr-height;

// cursor
@cursor-color: #5229ae;
@cursor-pointer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%235229ae' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%235229ae'%3E%3Cpath d='M13.034 20.872c-1.977.136-3.935-9.083-2.59-10.428s10.564.612 10.428 2.589c-.094 1.295-2.286 1.807-2.222 2.957c.02.337.445.644 1.296 1.258c.592.427 1.195.842 1.776 1.282a.72.72 0 0 1 .256.75a3.65 3.65 0 0 1-2.697 2.698a.72.72 0 0 1-.75-.256c-.44-.581-.855-1.184-1.282-1.776c-.614-.852-.921-1.277-1.258-1.296c-1.15-.064-1.662 2.128-2.957 2.222'/%3E%3Cpath d='M7.051 16A7.157 7.157 0 1 1 16 7.051'/%3E%3Cpath d='M11 6.955A2.865 2.865 0 1 0 6.955 11'/%3E%3C/g%3E%3C/svg%3E"), pointer;
@cursor-pointer: pointer;

@cursor-hand-pointer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%235229ae' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m8.99 22.001l-.047-.772l-.175-.745c-.552-2.186-1.324-2.428-2.552-3.994c-.555-.707-1.556-1.667-2.503-3.02c-.632-.903.154-3.058 2.075-2.433c.32.104.588.312.826.541l1.863 1.891c-.015-2.532.02-8.515-.02-10.097c-.042-1.582 2.827-2.091 2.997.072v5.594m0 0v.937m0-.937c.938-1.19 2.714-1.232 2.972.76m0 0c.042.324.045.703 0 1.14m0-1.14c.474-1.392 2.633-.848 3.047.771m0 0c.099.384-.04.886 0 1.399m0-1.399c.27-.78 3.293-.74 3.01 2.275l-.036 2.705c0 1.605-.214 2.35-.827 3.138c-.226.292-.54.583-.759.903a2.1 2.1 0 0 0-.329.837c-.066.416-.075.991-.055 1.542' color='%235229ae'/%3E%3C/svg%3E"), @cursor-pointer;
@cursor-hand-pointer: pointer;

@cursor-default-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%235229ae' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M7.035 19.691c1.706-.172 2.897-2.912 4.3-3.768c.551-.337 1.041.005 1.387.455l3.347 4.357c.583.759.994.985 1.873.535c1.352-.692 2.636-1.979 3.328-3.328c.45-.88.224-1.29-.535-1.873l-4.357-3.347c-.45-.346-.792-.835-.455-1.388c.856-1.402 3.596-2.593 3.768-4.299c.303-3.11-14.254-5.942-16.426-3.77s.66 16.729 3.77 16.426' color='%235229ae'/%3E%3C/svg%3E");
@cursor-default-img: default;

@cursor-default: @cursor-default-img, default;


// // chapter
// @chapter-min-height: 1300px;
@chapter-min-height: ((920 / 575) * @base-width);
@chapter-bg-image: url("@{url}textures/TCom_PaperPage0016_2_masked_XXL.png");
@chapter-preamble-bg-image: url("@{url}textures/TCom_PaperPage0016_2_masked_XXL_cropped.png");
@chapter-bg-all-layers: {
    @fo1: 75%;
    @fo2: 80%;
    @fo3: 30%;
    background-image:
    conic-gradient(fadeout(@chapter-bg-color, @fo3), fadeout(@chapter-bg-color, @fo3)),
    repeating-linear-gradient(to right, fadeout(#241a15, @fo1) 2.5%, fadeout(#7a614a, @fo1) 5%, fadeout(#b69171, @fo1) 10%, fadeout(#8f6c4c, @fo1) 15%, fadeout(#baa693, @fo1) 20%, fadeout(#8f6c4c, @fo1) 30%, fadeout(#b69171, @fo1) 35%, fadeout(#7a614a, @fo1) 45%, fadeout(#241a15, @fo1) 50%),
    linear-gradient(to top, fadeout(spin(@main-bg-color, 5), @fo2) 0%, fadeout(@main-bg-color, @fo2) 100%),
    @chapter-bg-image;
}

// scrollbar
@scrollbar-color-thumb: @bg-pattern-background-color;
@scrollbar-color-track: @bg-pattern-foreground-color;

@button-text-size: 0.9rem;

@SLNT: "slnt"; @CASL: "CASL"; @CRSV: "CRSV"; @MONO: "MONO"; @WGHT: "wght";
@slnt: 0; @casl: 0; @crsv: 0; @mono: 0; @wght: 400;
@font-variation-settings-default:
@SLNT @slnt,
@CASL @casl,
@CRSV @crsv,
@MONO @mono,
@WGHT @wght;

// HTML properties
html {
    font-size: @p-size;
    @mono: 0.3; @casl: 0.2;
    font-family: "Recursive", "Helvetica", "Courier New", "monospace";
    font-variation-settings: @font-variation-settings-default;
    background-color: @bg-pattern-background-color;
    background:
    @bg-pattern-background-image,
    linear-gradient(to bottom, @bg-pattern-background-color, darken(@bg-pattern-background-color, 10%));
    background-repeat: repeat;
    // background-image: @bg-pattern-background-image;
    background-attachment: fixed;
    // background-size: 500px 500px;
    background-size: 1000px 500px;
    // background-size: 300px 500px;
    // background-size: 175px 250px;
    background-size: 500px 350px;
    color: @bg-pattern-foreground-color;//TODO: revisit
    width: fit-content;
    margin: 0px auto;

    cursor: @cursor-default;
    overflow-x: hidden;
}
main {
    font-family: "Recursive";
    background-color: @main-bg-color;
    max-width: @base-max-width;
    width: @base-width;
    margin: 0px @base-margin;
    padding: 0px @base-padding;
    z-index: 20;
    border-left: @sides-border-width @sides-border-style @sides-border-color;
    border-right: @sides-border-width @sides-border-style @sides-border-color;
    position: relative;
    left: ((0) * @base-padding);
}
.header-background() {
    background-color: @header-bg-color;
    background: 
        linear-gradient(to bottom, #ebb86c50, #814b1e54),
        linear-gradient(to top, #f5deb340, #f5deb340),
        linear-gradient(to right, #f5deb380, #f5deb380),
        @chapter-bg-image,
        @header-bg-color;
    background-size: calc((@base-width) + (0 * @base-padding)) 650px;
    background-position-x: center;
    background-position-y: -15px;
}
header {
    .header-background();
    padding: @base-padding @base-padding;
    width: @base-width;
    max-width: @base-max-width;
    margin: (-0.5 * @base-padding) (@base-margin);
    margin-top: (2 * @base-padding);
    z-index: 20;
    border-top: @sides-border-width @sides-border-style @sides-border-color;
    border-left: @sides-border-width @sides-border-style @sides-border-color;
    border-right: @sides-border-width @sides-border-style @sides-border-color;

    //visibility: visible; // weird hack I may not need. was for loading speed;
    .bottom-nav {
        margin-bottom: (3 * @base-padding);
    }
}
.hide {
    display: none;
}
.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: (2 * @base-padding ) @base-padding;
    z-index: 30;
}
// .pages-container {
//     height: @base-padding;
// }
.chnav-container {
    height: fit-content;
    margin-bottom: @base-padding;
}
#main-nav {
    max-width: calc(100% + (-5 * @base-padding));
    flex-wrap: wrap;

    & .menu {
        font-size: @h4-size;
        color: @default-text-color;
        font-family: "Style Script", "Recursive";
        // font-variation-settings: 
        //     @CRSV 1.0, @SLNT 0, @WGHT 700, @CASL 1, @MONO 0;
        padding: (0.5 * @base-padding) (@base-padding);
        width: fit-content;
    }
}
.chi {
    width: calc(100% + 60px);
    margin-left: (-2 * @base-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.chb{
    vertical-align: middle;
    font-family: 'Delius';
    font-size: 1.2rem;
    text-decoration: none;
    color: currentColor;
}
a.chb{
    text-decoration-line: overline underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
    text-decoration-color: @bg-pattern-background-color;
    &:hover, &:focus {
        scale: 110%;
        color :#00f;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 3px;
    }
}
.chi-notes {
    font-family: "Delius";
    font-size: 1.2rem;
}
.menu-shadow {
    filter: drop-shadow(10px 10px 30px #5349409c);
    // display: inline-block;
    // line-height: 0;
    // height: auto;
}
.menu {
    // font-family: "Delius";
    font-family: "Style Script", "Delius", "Recursive";
    @py: 0.8;
    @px: 0.5;
    // color: @menu-fg-color;
    color: @default-text-color;
    background-color: @menu-bg-color;
    background:
        linear-gradient(to right, fadeout(@menu-bg-color, 90%), fadeout(@menu-bg-color, 70%)),
        @chapter-bg-image;
    background-size: 400px 300px;
    background-position-x: 25%;
    background-position-y: 50%;
    padding: (0.5 * @base-padding) (1.5 * @base-padding);
    border: 2px solid transparent;
    // font-size: @p-size;
    font-size: @h4-size;
    text-decoration: none;
    z-index: 40;
    text-indent: 0px;
    // filter: drop-shadow(10px 10px 30px #5349409c);
    // box-shadow: 10px 10px 30px #5349409c;
    // filter: drop-shadow(10px 10px 30px #5349409c);
    clip-path: polygon(0% 23%, 5% 10%, 9% 6%, 17% 4%, 25% 10%, 32% 6%, 41% 13%, 52% 7%, 58% 9%, 64% 3%, 68% 5%, 74% 3%, 77% 5%, 82% 2%, 83% 6%, 91% 1%, 94% 4%, 97% 9%, 100% 16%, 99% 28%, 99% 36%, 98% 47%, 100% 58%, 98% 67%, 100% 81%, 100% 81%, 99% 92%, 97% 99%, 93% 97%, 89% 99%, 87% 96%, 84% 100%, 80% 99%, 77% 100%, 73% 95%, 69% 99%, 64% 100%, 58% 95%, 54% 100%, 49% 95%, 39% 98%, 31% 100%, 27% 93%, 24% 97%, 17% 98%, 8% 89%, 3% 92%, 0% 88%, 0% 61%);



    &:hover {
        background-color: @menu-bg-hover-color;
        scale: 101%;
        color: maroon;
        box-shadow:
            5px 5px 10px #85673a5d inset,
            5px 5px 30px #5349405b;
        border: 2px solid transparent;
    }
    &.pages {
        padding: (@px * @base-padding) (@py * @base-padding) (@px * @base-padding) (@py * @base-padding);
        width: 15ch;
        // height: 2ch;
        // height: (2.2 * @base-padding); // This canc be obnoxious and interacts with tailwind
        text-wrap: nowrap;
        text-align: center;
        vertical-align: middle;
        font-size: @p-size;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover, &:focus {
            overflow: visible;
            white-space: wrap;
            text-wrap: wrap;
            height: fit-content;
        }
    }
    &.back-to-top {
        height: fit-content;
        font-family: "Delius", "Verdana", monospace;
        font-size: @button-text-size;
        opacity: 80%;
        font-weight: bold;
        width: fit-content;
        &:hover {
            scale: 105%;
            opacity: 100%;
            background-color: @menu-bg-color;
        }
    }
}
.chnav {
    width: fit-content;
    // height: 20px;
    text-align: center;

    &:hover, &:focus {
        // font-size: 1.1rem;
        // height: 20px;
        scale: 105%;
    }
}
a {
    // cursor: pointer;
    cursor: @cursor-hand-pointer;
}
[data-active="true"] {
    background:
        linear-gradient(to right, #96aee71d, #96aee72c),
        @chapter-bg-image;
    clip-path: none;
    border-style: double;
    border-color: currentColor;
    box-shadow: 
        -10px -10px 10px #fec8 inset
        10px 10px 10px #fec3;
    &:hover {
        background:
            // #eb8f4e3e;
            linear-gradient(to top, #eb9f4e1e, #eb8f4e3e),
            @chapter-bg-image;
        border-color: @default-text-color;
        filter: hue-rotate(-45deg);
        box-shadow:
            -10px -10px 10px #8080c028 inset;
    }
}
.chnav-start, .fake-btn, .chnav-start:focus {
    height: fit-content;
    border-style: double;
    // color: #7a44a1;
    // border-color: $color;
    // filter: hue-rotate(-45deg) sepia(30%) saturate(300%) brightness(105%) contrast(105%);
    // filter: hue-rotate(-45deg) sepia(20%) saturate(400%) brightness(95%) contrast(90%);
    cursor: @cursor-default;
    &:hover{
        // font-size: @p-size;
        scale: 101%;
        // filter: hue-rotate(-30deg) sepia(30%) saturate(200%) brightness(101%) contrast(101%);
        transition: cubic-bezier(0.645, 0.045, 0.355, 1);
        // transform: rotateZ(-2deg);
        background-color: @menu-bg-color;
        // cursor: pointer;
        cursor: @cursor-hand-pointer;
        border-style: double;
        height: fit-content;
    }
}
[data-icon="hugeicons:arrow-turn-backward"] {
    transform: rotateX(180deg)
}
[data-icon="hugeicons:arrow-turn-forward"] {
    transform: rotateX(180deg)
}
.fake-btn.menu {
    opacity: 50%;
    font-family: "Delius", "Recursive", "Verdana", monospace;
    filter: hue-rotate(-45deg) sepia(30%) saturate(70%);
    font-weight: bold;
    color: @menu-fg-color;
    font-size: @button-text-size;
    box-shadow: none;
    border-color: transparent;
    &:hover {
        color: @menu-fg-color;
        scale: 100%;
        transform: unset;
        // filter: hue-rotate(-45deg) sepia(30%) saturate(70%);
        cursor: default;
        // cursor: @cursor-default;
        border-style: double;
        // border-color: #7a44a1;  
        border-color: transparent;
        box-shadow: none;
        background-color: unset;
    }
}
.back-to-top {
    width: fit-content;
    text-align: center;
}
.chapter-title {
    filter: hue-rotate(0deg);
    z-index: 30;
}
article {
    padding-bottom: @base-padding;
    width: @base-width;
    max-width: @base-max-width;
    z-index: 30;
}
.return {
    color: blue;
    text-decoration: underline;
    // cursor: pointer;
    cursor: @cursor-hand-pointer;
}
.tmp {
    // cursor: pointer;
    cursor: @cursor-hand-pointer;
}
dt {
    padding-top: @base-padding;
}
.chapter-preamble-shadow {
    filter: drop-shadow(10px 10px 20px #43271090) drop-shadow(-5px 0px 20px #43271040);
        // box-shadow:
        //     10px 10px 20px 10px #43271040,
        //     -5px 0px 20px 10px  #43271040,
        //     -5px 10px 15px 10px #b6915133 inset;
    position: sticky;
    top: 0;
    z-index: 20;
}
.chapter-preamble {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: @chapter-preamble-bg-color;
    margin-top: 50px;
    background-repeat: repeat-x;
    @fo1: 90%;
    @fo2: 65%;
    @fo3: 85%;
    @fo4: 80%;
    @fo5: 85%;
    @fo6: 60%;
    @fo7: 30%;
    background-image:
    linear-gradient(to top, fadeout(@chapter-bg-color, @fo7) 0%, fadeout(@chapter-bg-color, @fo7) 100%),
    linear-gradient(-45deg, fadeout(#7a614a, @fo5) 1.5%, transparent 25%, fadeout(#8f6c4c, @fo5) 70%),
    repeating-linear-gradient(45deg, transparent 4%, fadeout(#7a614a, @fo4) 11%, fadeout(#b69171, @fo4) 15%, fadeout(#8f6c4c, @fo4) 20%, fadeout(#baa693, @fo4) 30%, fadeout(#8f6c4c, @fo4) 40%, fadeout(#b69171, @fo4) 45%, fadeout(#7a614a, @fo4) 50%, transparent 60%),
    linear-gradient(-30deg, fadeout(darken(spin(#b69171, 0), 35%), @fo6) 15%, transparent 40%, fadeout(darken(spin(#b69151, -10), 30%), @fo6) 100%),
    linear-gradient(to left, fadeout(@main-bg-color, @fo3) 0%, fadeout(@main-bg-color, @fo3) 100%),
    repeating-linear-gradient(to right, fadeout(#241a15, @fo1) 2.5%, fadeout(#7a614a, @fo1) 5%, fadeout(#b69171, @fo1) 10%, fadeout(#8f6c4c, @fo1) 15%, fadeout(#baa693, @fo1) 20%, fadeout(#8f6c4c, @fo1) 30%, fadeout(#b69171, @fo1) 35%, fadeout(#7a614a, @fo1) 45%, fadeout(#241a15, @fo1) 50%),
    linear-gradient(to top, fadeout(spin(@main-bg-color, 30), @fo2) 0%, fadeout(@main-bg-color, @fo2) 80%),
    @chapter-preamble-bg-image;
    //background-size: 1000px;
    background-clip: content-box;
    background-size: 320px 180px;
    background-position-x: center;
    background-position-y: center;
    z-index: 25;
    position: sticky;
    top: 0px;
    // box-shadow: ((1/2) * @base-padding) ((1) * @base-padding) 0px 0px #43271003;
    
    // box-shadow:
    //     10px 10px 20px 10px #43271040,
    //     -5px 0px 20px 10px  #43271040,
    //     -5px 10px 15px 10px #b6915133 inset;
    
    
    clip-path: polygon(4% 3%, 13% 10%, 18% 2%, 27% 8%, 30% 0%, 36% 2%, 39% 8%, 45% 3%, 48% 10%, 57% 5%, 60% 4%, 66% 6%, 72% 0%, 78% 9%, 82% 7%, 87% 0%, 92% 3%, 94% 7%, 98% 10%, 100% 19%, 99% 29%, 99% 45%, 100% 54%, 99% 72%, 100% 84%, 97% 97%, 94% 97%, 91% 100%, 87% 95%, 84% 100%, 81% 100%, 76% 97%, 72% 94%, 68% 91%, 65% 97%, 62% 99%, 59% 100%, 55% 91%, 52% 98%, 50% 96%, 47% 97%, 44% 88%, 42% 97%, 38% 93%, 36% 100%, 33% 100%, 30% 98%, 29% 100%, 26% 91%, 24% 100%, 21% 98%, 19% 91%, 17% 96%, 15% 97%, 12% 94%, 11% 90%, 9% 92%, 7% 97%, 4% 97%, 3% 94%, 1% 90%, 0% 80%, 0% 70%, 1% 60%, 0% 48%, 1% 40%, 0% 29%, 1% 17%);

    
    //print
    page-break-before: auto;
}
@chapter-preamble-box-shadow-color: #43271080;
.chapter-postnav{
    box-shadow: 0px -20px 40px 10px #43271080;
}
.chapter-info {
    width: ((0.56) * @base-width);
    height: 200px;
    margin: 60px auto;
    background-color: #ffeebb10;
    border-radius: 30px 200px 75px 150px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: ((0.2) * @base-padding);
    border: 4px solid #432700;
    background-color: oklch(52.58% 0.0708 118.04);
    background: radial-gradient(circle at 105% 105%, oklch(30% 0.0708 72.11) 0%,oklch(47.92% 0.0708 118.04) 20%, oklch(52.58% 0.0708 118.04) 25%, oklch(78.54% 0.0708 118.04) 100%);
    // filter: brightness(115%) contrast(110%);

    & *:not(a) {
        color: @chapter-text-color;
        // filter: contrast(250%);
        padding: ((0.4) * @base-padding) ((0.1) * @base-padding);
        background-color: fadeout(@chapter-bg-color, 70%);
    }
}
.chapter {
    section:nth-child(2) p:nth-child(2) {
        text-indent: 0px;
        &::first-letter {
            font-size: 4rem;
            float: left;
            line-height: 1;
            padding-right: @base-padding;
            font-family: "Style Script", "Delius", "Impact", "Times New Roman";
        }
    }
    background-color: @chapter-bg-color;
    color: @chapter-text-color;
    background-size: (@base-width * 1.05);
    // width: calc(@base-width + (-4 * @base-padding));
    width: calc((@base-width) + (-1 * @base-padding));
    // ensure there will be at least one sheet
    min-height: (1 * @chapter-min-height);
    // overflow-y: scroll;
    // max-height: (1 * @chapter-min-height);
    // overflow-x: hidden;

    // scroll-bar styling
    scrollbar-width: @sides-border-width;
    scrollbar-color: @scrollbar-color-thumb @scrollbar-color-track;
    overscroll-behavior-block: none;
    overscroll-behavior-inline: none;

    // container and background image location
    margin-left: (-1 * @base-padding);
    margin-right: 0px;
    padding-left: (2 * @base-padding);
    padding-right: (@base-padding);
    padding-top: @base-padding;
    margin-top: 0px;
    @chapter-bg-all-layers();
    // @fo1: 75%;
    // @fo2: 80%;
    // @fo3: 30%;
    // background-image:
    // conic-gradient(fadeout(@chapter-bg-color, @fo3), fadeout(@chapter-bg-color, @fo3)),
    // repeating-linear-gradient(to right, fadeout(#241a15, @fo1) 2.5%, fadeout(#7a614a, @fo1) 5%, fadeout(#b69171, @fo1) 10%, fadeout(#8f6c4c, @fo1) 15%, fadeout(#baa693, @fo1) 20%, fadeout(#8f6c4c, @fo1) 30%, fadeout(#b69171, @fo1) 35%, fadeout(#7a614a, @fo1) 45%, fadeout(#241a15, @fo1) 50%),
    // linear-gradient(to top, fadeout(spin(@main-bg-color, 5), @fo2) 0%, fadeout(@main-bg-color, @fo2) 100%),
    // @chapter-bg-image;
    z-index: 10;
    background-size: calc(@base-width + (5 * @base-padding));
    background-position-x: 40%;
    background-repeat: repeat-y;
    text-indent: (2 * @base-padding);
    background-origin: border-box;
    text-rendering: optimizeLegibility;

    //print
    page-break-after: auto;

    // hr inside .chapter
    & hr {
        width: calc(100% + (3 * @base-padding));
        margin-left: calc(-2 * @base-padding);
        position: static;

        &.section {
            margin-left: (-2 * @base-padding);
            width: calc(@base-width + (2 * @base-padding) );
        }
    }

    .cut {
        display: none;
    }
    &.error {
        height: fit-content;
        min-height: 0;
        line-height: 3ch;
        text-indent: 0px;
        h3 {
            line-height: 3ch;
            text-align: center;
        }
        .error-emphasis-01 {
            font-style: italic;
            color: rgb(39, 86, 146);
        }
        .error-emphasis-02 {
            color: #205535;
        }
        .error-emphasis-03 {
            color: #74001d;
        }
    }
}
.text-gradient {
    background: repeating-linear-gradient(to right, @grad-purple 0%, @grad-green 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-top: @base-padding;
    width: fit-content;
    filter: @grad-filter;
}
.text-center {
    text-align: center;
}
h1 {
    font-size: @h1-size;
    &.text-gradient {
        margin: 0 auto;
        padding: @base-padding;
    }
}
@h1h2-fonts: "Style Script", 'Recursive', 'Brush Script MT', 'sans-serif';
h1, h2 {
    font-family: @h1h2-fonts;
    &.text-center {
        text-align: center;
    }
}
h3, h4, h5, h6 {
    font-family: 'Delius', 'Brush Script MT', 'Kurale', 'Garamond', serif;
}
h2 {
    font-size: @h2-size;
}
h3 {
    font-size: @h3-size;
}
h4 {
    font-size: @h4-size;
    page-break-before: auto;
}
h5 {
    font-size: @h5-size;
}
h6 {
    font-size: @h6-size;
}
hr {
    background: linear-gradient(to right, @grad-purple 0%, @grad-green 100%);
    height: @hr-height;
    border: none;
    width: calc(100% + (2 * @base-padding));
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: (-1 * @base-padding);
    filter: @grad-filter;
}
hr.section {
    background: 
        linear-gradient(to top,#4a3132, #9c6c45 70%, #b68761),
        linear-gradient(to top, oklch(30% 0.0708 72.11) 0%, oklch(47.92% 0.0708 118.04) 30%, oklch(52.58% 0.0708 118.04) 50%, oklch(78.54% 0.0708 118.04) 100% );
    height: @hr-section-height;
    border: none;
    width: calc(100% + (2 * @base-padding));
    margin-left: (-1 * @base-padding);
    margin-top: 0px;
    margin-bottom: 0px;
    filter: none;
    z-index: 100;
    // box-shadow: 0px 10px 100px fadeout(@bg-pattern-background-color, 50%);
    box-shadow: 0px 10px 100px fadeout(#ab693e80, 25%);

    &.start {
        position: sticky;
        top: 0%;
    }
    &.end {
        position: sticky;
        bottom: 0%;
    }
}
.adult-content {
    font-size: @p-size;
    font-family: "Delius", "Tahoma", sans;
    margin-bottom: @base-padding;
}
.byline {
    font-family: "Delius";
}
.banner {
    background-color: @header-bg-color;
    height: 1.5rem;
    width: @base-width;
    padding: @base-padding;
    margin-left: (-1 * @base-padding);
    text-align: center;
}
footer {
    .header-background();
    width: @base-width;
    max-width: @base-max-width;
    padding: 0px @base-padding;
    margin: (0 * @base-padding ) @base-margin (2 * @base-padding) (@base-margin);
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: @base-padding;
    border-left: @sides-border-width @sides-border-style @sides-border-color;
    border-right: @sides-border-width @sides-border-style @sides-border-color;
    border-bottom: @sides-border-width @sides-border-style @sides-border-color;
    & * {
        // width: calc(100% * (1 / 3) - (@base-padding));
        width: 100%;
    }
    & {
        :nth-child(3n+1) {
            text-align: left;
            // text-align: center;
        }
        :nth-child(3n+2) {
            text-align: center;
        }
        :nth-child(3n+3) {
            text-align: right;
            // text-align: center;
        }
    }
}
#lib {
    .fonts {
        .default {
            .paragraph() {
                @text-font-family: "Recursive", "Kurale", "Georgia", serif;
                @other-font-properties: {
                    @casl: 0.6; @mono: 0; @wght: 390; @slnt: 0;
                    font-variation-settings: @font-variation-settings-default;
                }
            }
            .italic() {
                @other-font-properties: {
                    @slnt: -8; @crsv: 0.5; @casl: 0.75; @wght: 400;
                    font-variation-settings: @CASL @casl, @CRSV @crsv, @WGHT @wght, @SLNT @slnt, @MONO @mono;
                    // font-style: italic;
                }
            }
        }
        .heading() {
            @common-fonts: 'Delius', 'Brush Script MT', 'Kurale', 'Garamond', serif;
        }
        .initialize(@unique-font: "Delius", @italic-font: @unique-font, @heading-font: @unique-font) {
            @character-font-family: @unique-font;
            #lib.fonts.default.paragraph;
            #lib.fonts.heading;
            p {
                font-family: @text-font-family;
                @other-font-properties();
            }
            em {
                @character-font-family: @italic-font;
                #lib.fonts.default.italic();
                font-family: @text-font-family;
                @other-font-properties();
            }
            strong {
                @casl: 1; @crsv: 1; @mono: 1; @wght: 600; @slnt: 0;
                font-variation-settings: @CASL @casl, @CRSV @crsv, @MONO @mono, @WGHT @wght, @SLNT @slnt;
            }
            h4 {
                @character-font-family: @heading-font;
                font-family: @character-font-family, @common-fonts;
            }
        }
    }
}

.character(@name, @font1, @font2, @font3) {
    &.@{name} {
        @character-font-family: @font1;
        #lib.fonts.initialize(@font2, @font3);
    }
}

.arthur {
    @character-font-family: "Nothing You Could Do";
    #lib.fonts.initialize("Mr Bedfort", "Caudex");
}
.merlin {
    @character-font-family: "Homemade Apple";
    #lib.fonts.initialize("Gloria Hallelujah", "Cedarville Cursive");
}
.freya {
    @character-font-family: "Moon Dance";
    #lib.fonts.initialize("Comforter", "Covered By Your Grace");
}
.lancelot {
    @character-font-family: "Handlee";
    #lib.fonts.initialize("Merienda", "Delius Swash Caps");
}
.george {
    @character-font-family: "Mr Bedfort";
    #lib.fonts.initialize("Shadows Into Light", "Shadows Into Light Two");
}
.gwenivere {
    @character-font-family: "Srisakdi";
    #lib.fonts.initialize("Bilbo Swash Caps", "Calligraffitti");
}
.leon {
    @character-font-family: "Charmonman";
    #lib.fonts.initialize("Bonheur Royale", "Covered By Your Grace");
}
.veronica {
    @character-font-family: "Bubblegum";
    #lib.fonts.initialize("Bad Script", "Brush Script MT");
}
.gwaine {
    @character-font-family: "Combo";
    #lib.fonts.initialize("Combo");
}

#mainMenuToggle {
    display: none;
}

@print-width: 8.0in;
@media print {
    @page {
        margin: 0.25in;
    }
    #mainMenuToggle {
        display: none;
    }
    html {
        background-position-x: center;
        background-repeat: repeat;
        background-attachment: unset;
    }
    main {
        max-width: @print-width;
        width: 100%;
        margin: 0px auto;
    }
    article {
        max-width: @print-width;
    }
    .chapter {
        max-width: @print-width;
        width: calc((@print-width) + (-8 * @base-padding));
        overflow-wrap: break-word;
        margin-left: (-2 * @base-padding);
    }
    header, footer, main, article, .chapter .chapter-preamble {
        &, & * {
            max-width: (@print-width * (1.5));
        }
    }
    // .chapter {
    //     // width: (@print-width - 0.7in);
    //     width: (@print-width * 1.1);
    //     // margin: 0px auto;
    //     margin: 0px;
    // }
    main, header .title {
        margin-top: -2in;
    }
    .chapter-preamble {
        height: 50px;
    }
    header, footer, main {
        border: 0px solid transparent;
        padding: 0px;
    }
    hr.section {
        margin: 0px;
    }
    .text-gradient {
        background-color: transparent;
        color: black;
    }
    .chapter {
        color: black;
        min-height: unset;
        margin-left: (-5 * @base-padding);
        width: ((@print-width) + (100 * @base-padding));
    }
    footer, nav, .menu, .latest-chapter, .banner, .fake-btn, .dnp, .byline, .chapter-preamble-shadow, .chi{
        display: none;
    }
    .chapter-preamble, .chapter-postnav, * {
        box-shadow: none;
    }
    // hr.section {
    //     width: @print-width;
    //     margin-left: 0px;
    // }
    .menu-container, .pages-container {
        display: none;
    }
}

// Exported from AO3

#preface {
    // background-color: @main-bg-color;
    // background-image: @chapter-bg-image;
    @chapter-bg-all-layers();
    background-size: contain;
    background-position-x: center;
    min-height: (0.5 * @chapter-min-height);
    max-height: (1.5 * @chapter-min-height);
    color: @chapter-text-color;
    width: calc(@base-width + (0 * @base-padding));
    margin-left: (-1 * @base-padding);
    margin-top: (-1 * @base-padding);
    // overflow-y: scroll;
    padding-top: (2 * @base-padding);
    padding-left: (1 * @base-padding);
    padding-right: (1 * @base-padding);
    font-family: "Recursive", sans;
    scrollbar-color: @scrollbar-color-thumb @scrollbar-color-track;

    &, .userstuff {
        font-size: @p-size;
        font-family: "Recursive", sans;
    }
}
@tags-bg-color: {
    background-color: #cea58160;
}
.tags {
    max-height: 30ch;
    overflow-y: scroll;
    @tags-bg-color();
    color: black;
    border: 1px solid currentColor;
}
#chapters {
    @chapter-bg-all-layers();
    background-position-x: center;
    background-size: contain;
    width: calc(@base-width + (2 * @base-padding) - 2px);
    margin: 0px (-1 * @base-padding);
    color: @chapter-text-color;
    font-family: "Recursive", sans;

    & .userstuff hr {
        width: calc((2.0 * @base-padding) + (@base-width));
        margin-left: (-1.5 * @base-padding + -4px);
    }

    & .userstuff, & .meta.group {
        width: calc((-1.5 * @base-padding) + @base-width);
        margin: 0px auto;
    }
}

#chapters .heading, h2.heading {
    background: repeating-linear-gradient(to right, @grad-purple 0%, @grad-green 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-top: @base-padding;
    width: fit-content;
    filter: @grad-filter;
    font-size: @h3-size;
}
.userstuff hr {
    width: calc(100% + (3 * @base-padding) + 4px);
    margin-left: ( (-2.5 * @base-padding ) - 2px);
    position: static;
}

// // copied from workskin;
.dropcap {
    font-size: 3rem;
    vertical-align: text-top;
}

// Dealing with the width
// @media (max-width: 1071px) {
//     // @media (min-width: 900px) {
//     //     background-color: cyan;
//     // }

//     @base-width: 80vw;
//     html {
//         width: 100vw;
//         max-width: 1071px;
//         // overflow-x: hidden;
//     }
//     header, footer {
//         width: @base-width;
//         margin-left: 5%;
//     }
//     footer {
//         flex-wrap: nowrap;
//     }
//     main {
//         width: @base-width;
//         margin-left: 5%;
//         .banner {
//             width: calc((@base-width) + ((0) * @base-padding))
//         }
//         .chapter {
//             width: calc((@base-width) + ((-1) * @base-padding))
//         }
//         .chapter-preamble {
//             width: calc((@base-width) + ((0) * @base-padding))
//         }
//         hr.section {
//             width: calc((@base-width) + ((2) * (@base-padding)))
//         }
//     }
// }

// @media (max-width: 900px) {
//     @base-width: 700px;
//     html {
//         width: 700px;
//         margin-left: 80px;
//         overflow-wrap: break-word;
//         // max-width: 850px;
//         // overflow-x: hidden;
//     }
//     header, footer {
//         width: @base-width;
//         margin-left: 10vw;
//     }
//     main {
//         width: @base-width;
//         position: relative;
//         left: (0 * @base-padding);
//         margin-left: 10vw;
//         .banner {
//             width: calc((@base-width) + ((0) * @base-padding))
//         }
//         .chapter {
//             width: calc((@base-width) + ((-1) * @base-padding));
//         }
//         .chapter-preamble {
//             width: calc((@base-width) + ((0) * @base-padding));
//         }
//         hr.section {
//             width: calc((@base-width) + (2 * @base-padding));
//         }
//     }
// }

// Mobile Devices

// @media (max-width: 600px) {
//     @base-width: 70vw;
//     hr.section.end {
//         position: static;
//         bottom: 0%;
//     }
//     #mainMenuToggle {
//         display:  inline-block;
//     }
//     html {
//         max-width: 600px;
//         padding: 0px;
//         background-attachment: fixed;
//         width: fit-content;
//         font-size: 1.8rem;
//     }
//     // nav#main-nav.menu-container.pages-container {
//     //     display: none;
//     // }
//     // #main-nav {
//     //     display: flex;
//     //     flex-direction: column;
//     //     .menu, .pages {
//     //         width: calc(100% + (-2 * @base-padding));
//     //     }
//     // }
//     body {
//         width: 50%;
//     }
//     footer {
//         flex-direction: column;
//         flex-wrap: nowrap;
//         justify-content: space-around;
//         align-items: center;
//         * {
//             width: fit-content;
//         }
//         .arr {
//             text-align: left;
//             width: fit-content;
//         }
//     }

//     .menu-container {
//         flex-wrap: nowrap;
//         flex-direction: column;
//         justify-content: center;
//         align-items: flex-start;
//         * {
//             width: fit-content;
//         }
//     }
//     .pages {
//         width: fit-content;
//     }

//     main, header, footer {
//         max-width: 500px;
//         width: @base-width;
//         margin: 0px 20%;
//     }
//     .chapter, #preface, #chapters, #chapters hr {
//         width: calc(70vw - (1 * @base-padding));
//     }
//     .chapter-preamble {
//         width: @base-width;
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         position: relative;
//     }
//     .banner {
//         width: @base-width;
//     }
//     nav {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//     }
//     .menu {
//         width: 100%;
//     }
//     .dnp {
//         display: none;
//     }
// }

@media (max-width: 300px) {
    @base-width: 85px;
    @max-width: 60vw;
    html {
        // overflow-x: hidden;
        width: 100%;
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
    }
    main, header, footer, .banner, .chapter {
        width: @base-width;
        max-width: max-content;
        overflow-x: hidden;
    }
    .chapter-preamble {
        display: none;
    }
    * .chnav-start {
        min-width: 20ch;
    }
    .chapter {
        & p {
            font-size: @h4-size;
        }
        & .chi {
            display: block;
            margin-top: 100px;
            .chb:not(a) {
                display: none;
            }
        }
    }
    hr.section {
        position: static;
    }

}

@media (max-width: 600px) {
    @base-width: 80vw;
    @base-max-width: 90vw;
    html {
        background-repeat: repeat;
        // width: 300px;
    }
    main, header, footer, .banner {
        width: @base-width;
        max-width: @base-max-width;
    }
    .chapter {
        width: calc((@base-width) + (-1  * @base-padding));
        & p {
            font-size: @h5-size;
        }
    }
    footer {
        display:none;
    }
    #top {
        flex-direction: row;
        .menu {
            width: 100%;
        }
    }
    #main-nav {
        display: none;
    }
    #mainMenuToggle {
        display: inline-block;
    }
    #toggle {
        display: none;
    }
    .latest-chapter {
        display: none;
    }
    h1 {
        font-size: @h3-size;
    }
    nav {
        &.menu-container {
            width: fit-content;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            & .menu, & .pages {
                width: calc((100%) + (-2 * @base-padding));
            }
        }
    }
    .chapter-preamble {
        width: @base-width;
        position: static;
    }
    hr.section {
        width: calc((@base-width) + (2 * @base-padding + 1px));
        position: sticky;
        bottom: 0px;
    }
    hr.section.end {
        position: static;
    }
}

@media (min-width: 100ch) {
    @base-width: 90ch;
    html {
        max-width: 100vw;
        width :fit-content;
        overflow-x: hidden;
    }
    header, main, footer, .banner {
        width: @base-width;
    }
    .chapter {
        width: calc((@base-width) + (-1 * @base-padding));
        z-index: 10;
        background-size: calc(@base-width + (4.5 * @base-padding));
        background-position-x: 40%;
        background-repeat: repeat-y;
        text-indent: (2 * @base-padding);
        background-origin: border-box;
    }
    hr.section {
        width: calc(@base-width + (2 * @base-padding));
    }
    .chapter-preamble {
        width: @base-width;
    }
    footer {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: @base-padding;
        & * {
            // width: calc(100% * (1 / 3) - (@base-padding));
            width: fit-content;
        }
        & {
            :nth-child(3n+1) {
                text-align: left;
            }
            :nth-child(3n+2) {
                flex-grow: 2;
                text-align: center;
            }
            :nth-child(3n+3) {
                text-align: right;
            }
        }
    }

    //Support for AO3 Type Content
    #preface {
        max-width: 100ch;
        width: @base-width;
        & .meta {
            width: calc((@base-width) + (2 * @base-padding));
            & .tags {
                width: calc((100%) - @sides-border-width);
            }
        }
    }
    #chapters {
        width: calc(@base-width + (2 * @base-padding));
        & .meta.group {
            width: calc(@base-width + (2 * @base-padding));
        }
        & hr.section {
            margin-left: (0 * @base-padding);
        }
        & .userstuff {
            width: 500px;
            & hr {
                width: calc((@base-width) + (2 * @base-padding));
                margin-left: (-7.7 * @base-padding);
            }
        }
    }

}