body {
  width: 80%;
  margin: 0px auto;
}
body h1 a,
body h2 a {
  color: currentColor;
  text-decoration: none;
}
body h1 a:hover,
body h2 a:hover,
body h1 a:focus,
body h2 a:focus,
body h1 a:active,
body h2 a:active {
  color: blue;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: blue;
}
body hr {
  height: 0.4px;
  background-color: #333;
}
a.home {
  border-radius: 4px;
  border: 1px solid #8f8f9d;
  background-color: #e9e9ed;
  padding: 0px 8px;
  cursor: default;
}
a.home:hover {
  background-color: #d0d0d7;
  color: currentColor;
}
@media print {
  body {
    width: 80ch;
  }
  select,
  button,
  a.home {
    display: none;
  }
}
