body {
    width: 80%;
    margin: 0px auto;

    h1, h2 {
        a {
            color: currentColor;
            text-decoration: none;
            &:hover, &:focus, &:active {
                color: blue;
                text-decoration: underline;
                text-decoration-thickness: 5px;
                text-decoration-color: $color;
            }
        }
    }
    
    hr {
        height: 0.4px;
        background-color: #333;
    }
}

@media print {
    body {
        width: 80ch;
    }
    select, button {
        display: none;
    }
}