body {
    width: 80%;
    margin: 0px auto;

    h1, h2 {
        a {
            color: currentColor;
            text-decoration: none;
            &:hover, &:focus, &:active {
                color: blue;
                text-decoration: underline;
                text-decoration-thickness: 5px;
                text-decoration-color: $color;
            }
        }
    }
    
    hr {
        height: 0.4px;
        background-color: #333;
    }
}

a.home {
    border-radius: 4px;
    border: 1px solid #8f8f9d;
    background-color: #e9e9ed;
    padding: 0px 8px;
    cursor: default;
    &:hover {
        background-color: #d0d0d7;
        color: currentColor;
    }
}

@media print {
    body {
        width: 80ch;
    }
    select, button, a.home {
        display: none;
    }
}