body {
    max-width: 80ch;
    width: 80%;
    margin: 0px auto;

    h1, h2 {
        a {
            color: currentColor;
            text-decoration: none;
            &:hover, &:focus, &:active {
                color: blue;
                text-decoration: underline;
                text-decoration-thickness: 5px;
                text-decoration-color: $color;
            }
        }
    }
    
    hr {
        height: 0.4px;
        background-color: #333;
    }
}

button, select, option, a.home {
    .button-defaults();
}

@media print {
    body {
        width: 80ch;
    }
    select, button, a.home {
        display: none;
    }
}

.button-defaults() {
    border-radius: 4px;
    border: 1px solid #8f8f9d;
    background-color: #e9e9ed;
    padding: 0px 8px;
    cursor: default;
    &:hover {
        background-color: #d0d0d7;
        color: currentColor;
    }
}
.button-defaults-ui() {
    display: inline-block;
    padding: 1px 6px;
    font-size: 13px;
    text-align: center;
    background-color: buttonface;
    border: 2px outset buttonface;
    cursor: default;
    font: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: inherit;
}