---
import { contentfulClient } from "@/lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"
import type { contentChapter } from "@/lib/contentful";

import { Chapter, ChapterNav } from "@/components/react/Chapters"
import type { ChaptersNav } from "@/components/react/Chapters";
import Layout from "@/layouts/Layout.astro"

const misunderstood = await contentfulClient.getEntries<contentChapter>({
    content_type: "chapter"
});

const chapters = misunderstood.items.map((chapter) => {
    const ch = chapter.fields;
    return {
        id: ch.id,
        href: ch.href,
        text: ch.text
    }
});

---

<Layout headTitle={`Misunderstood | Merther`}>
    <ChapterNav chapters={chapters} client:load/>
    {
        misunderstood.items.map((chapter) => {
            return(<>
            <Chapter articleId={chapter.fields.id}>
                <div set:html={documentToHtmlString(chapter.fields.body)}></div>
            </Chapter>
            </>);
        })
    }
</Layout>