---
import Layout from '@/layouts/Layout.astro';

const headTitle = "Adult Content | Merther";
const pageTitle = "Merther Fanfiction";
---

<Layout headTitle={headTitle} pageTitle={pageTitle} mainLinks={null}>	
	<h2>Adult Content</h2>
	<h4 style="text-align: center;" >This website is unsuitable for persons under the age of 18</h4>
	<p style="text-align: center; font-size: 1.8rem;">By proceeding, you confirm that you are at least 18 years of age and consent to view adult content.</p>
	<div class="chapter-preamble">
		<h3>Do you want to continue?</h3>
		<div class="chnav">
			<a class="menu back-to-top" style="font-size: 1.5rem;" href="https://neocities.org">&leftarrow; Go Back</a>
			<a class="menu back-to-top" style="font-size: 1.5rem;" href="/pages">Proceed &rightarrow;</a>
		</div>
	</div>
</Layout>
