---
import { Icon } from "astro-icon/components";
const {articleId = 'latestChapter' , heading, className } = Astro.props;
---

<article id={articleId ?? undefined} class={ className ?? undefined}>
    {heading ? <h2>{heading}</h2> : ""}
  <slot>
    <article>
      <div id="under-construction">
        <p>Please hold while this page is building....</p>
        <p>
          A representative should get back to you with a completed page in 3 to
          5 business weeks.
        </p>
        <p>
          If you don't feel like waiting, <span
            class="return"
            onclick="history.back()">go back to where you came from</span
          >.
        </p>
        <hr />
        <h3>
          Elevator music from the queue starts playing&hellip;<span></span>
        </h3>
        <p style={{textAlign: "center"}}>
          <Icon
            name="svg-spinners:bars-scale-middle"
            size={200}
            style={{color: "#2e045e12"}}
          />
        </p>
        <nav class="menu-container tmp-container return">
          <button class="menu back-to-top" onclick="history.back()"
            >Go back
          </button>
        </nav>
      </div>
    </article>
  </slot>
</article>

<style>
  article {
    width: 100%;
  }
    .chnav-container {
        justify-content: center;
    }
    .chnav {
        font-size: 1.5rem;
        width: 40ch;
        height: fit-content;
    }
    .fake-btn:hover {
        opacity: 50%;
    }
    .text-gradient {
        text-align: center;
        width: 100%;
    }
    h2 {
        font-size: 1.9rem;
    }
    .return {
        color: blue;
        text-decoration: underline;
        /* cursor: pointer; */
    }
</style>