<div>
    <div id="fandomring">
        <script type="text/javascript" src="https://fandomr.ing/onionring/onionring-variables.js"></script>
        <script type="text/javascript" src="https://fandomr.ing/onionring/onionring-widget.js"></script>
    </div>
</div>