---
import { getCollection, render } from "astro:content";
const BlogPosts = await getCollection("microblog");
---

<article class="blog">
    {
        BlogPosts.map(async (post) => {
            const { Content } = await render(post);
            return (<>
                <section class="post">
                    <Content />
                </section>
            </>)
        })
    }
</article>

<style>
    .blog {
        width: 80%;
        margin: 40px auto;
        padding: 20px 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .post {
        border: 2px solid #2e045e;
    }
</style>