---
import { getCollection, render } from "astro:content";
const BlogPosts = await getCollection("microblog");
BlogPosts.sort((a, b) => b.data.id - a.data.id)

import dayjs from "dayjs"
import advancedFormat from "dayjs/plugin/advancedFormat";
import utc from "dayjs/plugin/utc"

dayjs.extend(advancedFormat);
dayjs.extend(utc);

import { MastodonPost } from "astro-embed";

---


<article class="blog twitter">
    <h2 class="text-gradient">Blorbo.Social</h2>
    <MastodonPost id="https://blorbo.social/api/v1/username/bravegrumpy/statuses/116286809282112383" />
    <MastodonPost id="https://blorbo.social/@bravegrumpy/116259558407471582" />
    <hr class="section" />

    <MastodonPost id="https://blorbo.social/@bravegrumpy/116253101125495252" />

    <MastodonPost id="https://blorbo.social/@bravegrumpy/116252177256700459" />
</article>

<article class="blog">
    {
        BlogPosts.map(async (post) => {
            const { Content } = await render(post);
            return (<>
            <section class="post">
                <h2>{post.data.title}</h2>
                <p>Published on {dayjs(post.data.pubDate).utc().format('MMM Do, YYYY')}</p>
                <Content />
            </section>
            </>)
        })
    }
</article>

<style>
    .blog {
        width: 80%;
        margin: 40px auto;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* height: fit-content; */
        height: 300px;
        background-color: #25e9e910;
        padding: 20px;
        overflow-y: scroll;
        border: 2px solid #2e045e;
        /* flex-wrap: wrap; */
    }
    .post {
        border: 2px solid #2e045e;
        padding: 20px;
        height: fit-content;
        /* max-height: 400px; */
        /* overflow-y: scroll; */
        background-color: #6593de20;
    }
</style>