---
import FicRing from "@/components/FicWebRing.astro";
import FandomRing from "@/components/FandomRing.astro";
---

<div class="webring">
    <div class="gitgudring">
        <script defer="defer" src="https://mechagic.pages.gay/1stylescripts/webring/gitgudring.js"></script>
    </div>
    <!--div class="ficring">
        <FicRing />
    </div-->
    <div class="fandomring">
        <FandomRing />
    </div>
</div>

<style>
    .webring {
        margin-left: -10px;
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
</style>