body {
    background-color: #88ccff;
    color: #223300;
    font-weight: 700;
    font-size: 1.2rem;
}

table {
    width: 90ch;
    margin: 0px auto;
}

td {
    background-color: #88aaee;
}

div.chapters {
    background-color: #88aaee;
    width: 90ch;
    margin: 0px auto;

    h1, h2 {
        text-align: center;
    }
    p {
        text-indent: 20px;
    }
    div.chapter {
        h2 {
            background-color: #9acd32;
        }
        background-color: #88ccff;
    }
}

nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 50px;
    background-color: #88aaee80;
    padding: 10px 0px;
    flex-wrap: wrap;
    a {    
        border: 1px double;
        padding: 5px 50px;
        &:hover {
            background-color: #9acd3240;
        }
    }
}