---
import { Debug } from "astro/components";

const bravegrumpyLink = "https://archiveofourown.org/users/Bravegrumpy/pseuds/BraveGrumpy"
import { mainLinks, secondaryLinks } from "@/scripts/data";

const pageTitle = "Misunderstood";
const headTitle = "Misunderstood | Merther"

import Layout from "@/layouts/Layout.astro"

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const Chapters = await getCollection('misunderstood');
    return Chapters.map((ch) => ({
        params: { chapter: ch.id }
    }));

}

const { chapter } = Astro.params;

const Misunderstood = await getCollection('misunderstood');
const { Content, remarkPluginFrontmatter } = await render(Misunderstood[0]);

---

<Layout>
    <p>{chapter}</p>
    <Content /> 
</Layout>