---
import { Debug } from "astro/components";

import Layout from "@/layouts/Layout.astro"

import { render } from "astro:content";

const rawChapters = import.meta.glob('@/pages/misunderstood/content/chapters/*.{md,mdx}', { eager: true})
const Misunderstood = Object.entries(rawChapters);

export function getStaticPaths() {
    return [
        { params: { chapter: "01_Again" }},
        { params: { chapter: "02_Hungry" }},
        { params: { chapter: "03_Afraid" }},
        { params: { chapter: "04_Reflections" }},
        { params: { chapter: "05_Honesty" }},
        { params: { chapter: "06_Necessary" }},
    ]
}

const { chapter } = Astro.params;

const { Content } = await render(Misunderstood[0][0])

---

<Layout>
    <Debug Misunderstood={Misunderstood} />
    <h1>{chapter}</h1>
    <Content/>
</Layout>