---
import { Debug } from "astro/components";

import Layout from "@/layouts/Layout.astro"

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const Chapters = await getCollection('misunderstood');
    return Chapters.map((ch) => ({
        params: { chapter: ch.id }
    }));

}

const { chapter } = Astro.params;

const Misunderstood = await getCollection('misunderstood');
const { Content } = await render(Misunderstood[0]);

---

<Layout>
    <Debug Misunderstood={Misunderstood} />
    <p>{chapter}</p>
    <Content /> 
</Layout>