---
import Layout from "@/layouts/Layout.astro"
import { secondaryLinks } from "@/scripts/data";
import { StyleToggle } from "@/components/react/Navigation";
---
<Layout secondaryLinks={secondaryLinks}>
    <StyleToggle slot="header" client:load/>
    <nav class="menu-container pages-container">
        <a class="menu page" href="/misunderstood/ao3/single">Single Chapter</a>
    </nav>
</Layout>