@import "../../styles/main.css";

.dictList {
    color: #2e045e;
}
.dictDef a {
    color: #2e045e;
}
.dictTerm {
    color: #2e045e;
}

.dictDef {
    color: #2e045e;
}

.anchor {
    color: #2e045e;
}

.unorderedList {
    color: #2e045e;
}
.listItem {
    color: #2e045e;
}