---
import Analytics from "@vercel/analytics/astro"
import  SpeedInsights  from "@vercel/speed-insights/astro"
// Astro.response.headers.set('Access-Control-Allow-Origin', "http://testing-cors.vercel.app")
// Astro.response.headers.set("Access-Control-Allow-Methods", "GET")
const icon = {
  src: "https://cdn.bravegrumpy.com/AO3Styles/images/favicon.png",
};
import img from "@/assets/images/favicon.png";
const { headTitle = "Merther", favicon = icon, bodyClasses='', stopFlash=true} = Astro.props;
---

<!doctype html>
<html>
  <head>
    <!-- <script src='https://cdn.jsdelivr.net/gh/ncase/nutshell/nutshell.js'></script> -->
    <link rel="preconnect" href="https://cdn.bravegrumpy.com" crossorigin />
    <link rel="dns-prefetch" href="https://cdn.bravegrumpy.com" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale:1.0;" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="fanfiction, writing, smut, pornography, noncon, darkfic"
    />
    <meta name="description" content="Erotic Fanfiction of BBC Merlin" />
    <link rel="icon" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title="Merther Fanfic" href={new URL("rss.xml", Astro.site)} />
    <title>{headTitle}</title>
    <Analytics />
    <SpeedInsights />
    <slot name="head" />
    <!-- <script src="../scripts/scrollPosition.js"></script> -->
  </head>
  <body class={bodyClasses} style={{visibility: stopFlash ? 'hidden' : 'visible'}}>
    <script is:inline>0</script>
    <slot />
    <script src="../scripts/visibility.js"></script>
    <noscript>
      <style>
        body {
          visibility: visible;
        }
      </style>
    </noscript>
  </body>
</html>
